.section {
  background-color: #0065ff;
  position: relative;

  overflow: hidden;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 113px;
}

.title {
  font-size: 70px;
  line-height: 101px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
  margin: 0;
}

.gradient-title {
  composes: title;
  background: -webkit-linear-gradient(
    rgba(255, 97, 97, 1),
    rgba(228, 62, 255, 1),
    rgba(242, 235, 63, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 968px) {
  .title {
    font-size: 50px;
    line-height: 77px;
  }

  .title-container {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 468px) {
  .title {
    font-size: 34px;
    line-height: 47px;
  }

  .title-container {
    margin-bottom: 40px;
  }
}
