.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  min-height: 540px;
  border-radius: 60px;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  justify-self: center;
  gap: 20px;
  transition: all 0.2s;
}

.text {
  font-family: "Futura PT";
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: inherit;
  margin: 0;
}

.name {
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: inherit;
  margin: 0;
}

.card:hover {
  transform: rotate(0) scale(0.9) !important;
  border-radius: 30px;
}

@media screen and (max-width: 968px) {
  .card {
    padding: 35px;
    min-height: 440px;
    transform: none !important;
    border-radius: 30px;
  }

  .text {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (max-width: 468px) {
  .card {
    padding: 30px;
    min-height: 340px;
  }

  .card {
    pointer-events: none;
  }

  .text {
    font-size: 24px;
    line-height: 26px;
  }

  .name {
    font-size: 28px;
    line-height: 32px;
  }
}
