.section {
  background: #b7f7f7;
  position: relative;
  overflow: hidden;
}

.title {
  color: #0065ff;
  text-align: left;
  margin-bottom: 40px;
}

.subtitle {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #232323;
  margin: 0;
}

.blur{
  width: 130px;
  margin-left: 12px;
  margin-right: 12px;
}

.people{
  position: absolute;
  bottom: -23px;
  right: -40px;
  width: 400px;
  height: 512px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card {
  border-radius: 60px;
  display: flex;
  justify-content: center;
}
.pirate {
  width: 446px;
  height: 588px;
}

@media screen and (max-width: 1124px) {
  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .title-container {
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
  .subtitle{
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .people{
    width: 280px;
    height: 356px;
  }
  .pirate {
    width: 290px;
    height: 383px;
  }
}
@media screen and (max-width: 968px) {
.subtitle{
  font-size: 50px;
  line-height: 77px;
}
}

@media screen and (max-width: 468px) {
  .subtitle{
    font-size: 34px;
    line-height: 47px;
  }
}