.switcher {
  width: 500px;
  height: 209px;
  border: 3px solid #ffffff;
  border-radius: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 21px 27px 21px 27px;
  flex-shrink: none;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.switcher[active="true"] {
  justify-content: flex-end;
  background: #5ac96b;
  border: 3px solid transparent;
}

.switcher-handler {
  width: 167px;
  height: 167px;
  position: relative;
  border-radius: 100%;
  box-shadow: 0px 12px 13px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.title {
  position: absolute;
  font-family: "Futura PT";
  right: 90px;
  font-weight: 500;
  font-size: 70px;
  line-height: 95px;
  text-align: center;
  color: white;
  transition: all 0.2s;
  pointer-events: none;
}

.switcher[active="true"] .title {
  right: auto;
  left: 90px;
}

@media screen and (max-width: 968px) {
  .switcher {
    width: 300px;
    height: 150px;
    padding: 21px 20px 21px 20px;
  }

  .switcher-handler {
    width: 120px;
    height: 120px;
  }

  .title {
    font-size: 40px;
    line-height: 55px;
    right: 40px;
  }

  .switcher[active="true"] .title {
    right: auto;
    left: 40px;
  }
}

@media screen and (max-width: 468px) {
  .switcher {
    width: 250px;
    height: 120px;
    padding: 21px 18px 21px 18px;
  }

  .switcher-handler {
    width: 90px;
    height: 90px;
  }

  .title {
    font-size: 35px;
    line-height: 45px;
    right: 30px;
  }

  .switcher[active="true"] .title {
    right: auto;
    left: 30px;
  }
}
